<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ipsilon App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ipsilon" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>© Ipsilon</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="http://github.com/jlrogee/ipsilon">Github</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
